@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
body{
    background-color: #edfdfa;
}
.nav{
    background-color: #07edde;
    padding: 0 25px;
    box-shadow: 0 0 5px #000;
}
.navContainer {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navContainer > div:first-child{
    font-size: 24px;
    font-weight: 700;
}
.menu {
    display: flex;
}
.menu > div {
    padding: 0 10px;
    cursor: pointer;
    line-height: 70px;
    font-size: 20px;
    font-weight: 500;
}
.menu > div:hover{
    background-color: #06c6b9
}
.contentContainer{
    padding: 2px;
}
.homeContainer {
    padding: 30px;
    background-color: #feefec;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: min(1000px,90vw);
}
.homeContainer > div {
    padding-bottom: 40px;
}
.homeContainer h2{
    border-bottom: 2px solid #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.staff div, .address div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.staff p, .address p{
    flex: 1 2 100%;
    font-size: 17px;
    text-align: justify;
}
.staff span, .address span{
    flex: 1 3 100%;
    height: 200px;
    border: 1px solid #000;
}
.testimonial > div {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.testimonial > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.testimonial span {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50%;
}
.testimonial p{
    text-align: center;
    font-size: 14px;
}